body {
  background: linear-gradient(105deg, rgba(163, 231, 215, 1) 0%,rgba(80, 118, 162, 1) 0%,rgba(190, 227, 218, 1) 0%,rgba(177, 225, 249, 1) 100%);

}


textarea {
  resize: vertical;
}

.sock-title {
  font-size: 33px;
  margin: 15px 0 15px 15px;

}

#message-row {
  display:none;
}

h1 {
  font-family: Lato;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

p, h1, h2, h3, h4, h5, h6 {
font-family: Lato;
}

.entry {
  text-align: center;
}

#username {
  margin-bottom: 4px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li:last-child {
  border: none;
}

li {
  border-bottom: 1px solid #cacaca;
  -webkit-transition: font-size 0.4s ease, background-color 0.4s ease;
  -moz-transition: font-size 0.4s ease, background-color 0.4s ease;
  -o-transition: font-size 0.4s ease, background-color 0.4s ease;
  -ms-transition: font-size 0.4s ease, background-color 0.4s ease;
  transition: font-size 0.4s ease, background-color 0.4s ease;
  width: 160px;
  display: block;
}

li:hover {
  font-size: 25px;
}
